.main{
    margin:auto;
    width: 100%;
    min-width: 500px;
   min-height: 100vh;
    background-color:var( --background);
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
.textBox{
    width: 90%;
    background-color: var(--main-light-color);
    padding: 1rem;
    color: var(--main-palegreen-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
   
}