.main{
    padding: 1.1rem 3rem;
    border: none;
    cursor: pointer;
    font-size: large;
}
.main:hover{
    scale: 0.8;
    transition: 1s;
    background-color: var(--main-darkblue-color);
    color: var(--main-light-color);
}
.warning{
    background-color: brown;
    color:var(--main-light-color);
}
.valid{
    background-color: var(--main-palegreen-color);
    
}