.questionBox{
    width: 100%;
    background-color: var(--main-light-color);
    border-bottom: 3px solid var(--main-blue-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.questionBox h1{
    color: var(--box4-color);
}
.questionBox h4{
    color: var(--main-palegreen-color);
}
.questionBox h3{
    color: var(--box5-color);
}