.questionBox{
    margin: auto;
    width: 90%;
    background-color: var(--main-light-color);
    border-bottom: 3px solid var(--main-blue-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.questionBox h1{
    font-size: 20px;
    color: var(--main-darkgreen-color);
}
.questionBox h4{
    color: var(--main-blue-color);
}
.questionBox h5{
    color: var(--main-palegreen-color);
}
.questionBox h3{
    font-size: 15px;
    color: var(--box5-color);
}
.questionCard{
    border-bottom: none;
    width: 90%;
    box-shadow: none;
    padding: 1rem;
}
@media only screen and (max-width: 768px){
    .questionBox{
        width: 80%;
    }
}