.main{
  
    width: 100%;
    height: 70px;
    background-color: var(--main-blue-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    /* position: fixed;
    bottom:0; */
   
  

}
.bicycle{
    height: 40px;
  
}
.made{
    color: var(--main-light-color);
    padding-left: 50%;
    font-size: x-small;
}