.main{
    width: 90%;
    background-color: var(--main-light-color);
    border-bottom: 3px solid var(--main-blue-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.titleBox{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    
    
   
}

.main h1{
    color: var(--box5-color);
    font-size: 20px;
    margin: 0;
}
.main h4{
    margin: 0;
    color: var(--box3-color);
    box-shadow: rgba(17, 17, 26, 0.218) 0px 1px 0px;
    
}
.main h3{
    font-size: 15px;
}
.main h5{
    margin: 0;
    color: var(--main-palegreen-color);
}
.date{
    color: var(--main-blue-color);
}
.link{
   
    text-decoration-color: rgb(196, 194, 194);
  }
  .dateReplyBox{
    display: flex;
    justify-content: space-between;
  }
  @media only screen and (max-width: 920px){
    .main{
        width: 80%;
        background-color: var(--main-light-color);
        border-bottom: 3px solid var(--main-blue-color);
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

  }