.main{
    width: 90%;
    background-color: var(--main-light-color);
    border-bottom: 3px solid var(--main-blue-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.main h1{
    color: var(--box5-color);
}
.main h4{
    color: var(--box5-color);
}
.main h5{
    color: var(--main-palegreen-color);
}
.date{
    color: var(--main-blue-color);
}
.link{
   
    text-decoration-color: rgb(196, 194, 194);
  }
  .dateReplyBox{
    display: flex;
    justify-content: space-between;
  }